@using DaLiExpress.Models
@model Game
@{
    this.ViewBag.Title = "Edit";
     
}

<h2>Edit</h2>

@using (this.Html.BeginForm())
{
    @(this.Html.ValidationSummary(
          true
          ))
    <fieldset>
        <legend>
            Game
        </legend>
        <div class="editor-label">
            @(this.Html.LabelFor(model => model.Name))
        </div>
        <div class="editor-field">
            @(this.Html.EditorFor(model => model.Name))
            @(this.Html.ValidationMessageFor(model => model.Name))
        </div>
        <div class="editor-label">
            @(this.Html.LabelFor(model => model.Publisher));
        </div>
        <div class="editor-field">
            @(this.Html.DropDownListFor(model => model.Publisher.ID, (IEnumerable<SelectListItem>)this.ViewBag.Publisher))
            @(this.Html.ValidationMessageFor(model => model.Publisher))
        </div>
        <p>
            <input type="submit" value="Save" class="btn btn-default"/>
        </p>
    </fieldset>
}
<div>
    @(this.Html.ActionLink("Back to List", "Index"))
</div>

@section Scripts {@Scripts.Render("~/bundles/jqueryval")}


