@using System.Drawing
@using DaLiExpress.Models
@using Microsoft.Ajax.Utilities
@model string
@{
    ViewBag.Title = "Games";
}
<h2>DaLi GameExpress</h2>
@using (Html.BeginForm())
{
    <fieldset id="search-field">
        <input type="text" name="SearchedGame" />
        <input type="submit" value="Search" height="10" class="btn btn-default" id="search-btn" autofocus/>
    </fieldset>
}
@if (ViewBag.AllGames.Count == 0 == false)
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Platform</th>
            <th>Release Date</th>
            <th>Publisher</th>
            <th>Developer Studio</th>
            <th>Mutationen</th>
        </tr>
        @foreach (Game game in  ViewBag.AllGames)
        {
            <tr>
                <td>@game.ID</td>
                <td>@game.Name</td>
                <td>@game.Rating</td>
                <td>
                    @{
                        if (game.Platform.Any())
                        {
                            @(string.Join(", ", game.Platform.Select(p => p.Name).ToList()))
                        }
                        else
                        {
                            @("Game is not released yet")
                        }
                    }
                </td>
                <td>@game.Release.ToShortDateString()</td>
                <td>
                    @{
                        if (game.PublisherID != null)
                        {
                            @(game.Publisher.Name)
                        }
                        else
                        {
                            @("Game is not published yet")
                        }
                    }
                </td>
                <td>
                    @{
                        if (game.DeveloperStudio.Any())
                        {
                            @(string.Join(", ", game.DeveloperStudio.Select(d => d.Name).ToList()))
                        }
                        else
                        {
                            @("Game is not developed yet")

                        }
                    }
                </td>
                <td>
                    @(this.Html.ActionLink("Edit", "Edit", new {id = game.ID})) |
                    @(this.Html.ActionLink("Delete", "Delete", new {id = game.ID}))
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No results were found</p>
}