@using DaLiExpress.Models
@model string
@{
    ViewBag.Title = "Games";
}
<h2>DaLi GameExpress</h2>
@using (Html.BeginForm())
{
    <fieldset id="search-field">
        <input type="text" name="SearchedGame" />
        <input type="submit" value="Search" height="10" class="btn btn-default" id="search-btn" autofocus />
    </fieldset>
}

@Html.ActionLink("Create", "Create")

@if (ViewBag.AllGames.Count == 0 == false)
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Release Date</th>
            <th>Platform</th>
            <th>Publisher</th>
            <th>Developer Studio</th>
            <th>Mutations</th>
        </tr>
        @foreach (Game game in ViewBag.AllGames)
        {
            <tr>
                <td>@game.ID</td>
                <td>@game.Name</td>
                <td>@game.Rating</td>
                <td>@game.Release.ToShortDateString()</td>
                <td>@(string.Join(", ", game.Platform.Select(p => p.Name).ToList()) == string.Empty ? "Game is not released on a platform yet" : (string.Join(", ", game.Platform.Select(p => p.Name).ToList())))</td>
                <td>@(game.PublisherID == null ? "Game is not published yet" : game.Publisher.Name)</td>
                <td>@(string.Join(", ", game.DeveloperStudio.Select(d => d.Name).ToList()) == string.Empty ? "Game is not developed yet" : string.Join(", ", game.DeveloperStudio.Select(p => p.Name).ToList()))</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = game.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = game.ID })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No games were found :(</p>
}