@using DaLiExpress.Models
@model dynamic
@{
    ViewBag.Title = "Platforms";
}
<h2>Platforms</h2>

@using (Html.BeginForm())
{
    <fieldset id="search-field">
        <input type="text" name="SearchedPlatforms" />
        <input type="submit" value="Search" height="10" class="btn btn-default" id="search-btn" autofocus />
    </fieldset>
}

@Html.ActionLink("Create", "Create")

@if (ViewBag.AllPlatforms.Count == 0 == false)
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Available Games</th>
            <th>Mutations</th>
        </tr>
        @foreach (Platform platform in ViewBag.AllPlatforms)
        {
            <tr>
                <td>@platform.ID</td>
                <td>@platform.Name</td>
                <td>@(string.Join(", ", platform.Game.Select(g => g.Name).ToList()) == string.Empty ? "No games published one this platform yet" : (string.Join(", ", platform.Game.Select(d => d.Name).ToList())))</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = platform.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = platform.ID })
            </td>
        </tr>
    }
    </table>
}
else
{
    <p>No platforms were found :(</p>
}
